@charset 'utf-8';

/* 通用css */
.left {
	float: left;
}
.right {
	float: right;
}
.clearfloat:before, .clearfloat:after {
	content: '';
	display: block;
}	
.clearfloat:after {
	clear: both;
}
.bg-red {
	background-color: #e74f4d;
}
.bg-white {
	background-color: #fff;
}
.white {
	color: #fff;
}
.red {
	color: #e74f4d;
}
/* end */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-size: 14px;
}
.container {
	min-width: 1280px;
}
nav {
	width: 100%;
	height: 58px;
	line-height: 58px;
}
nav .left-logo {
	display: inline-block;
	margin-left: 60px;
}
nav .left-logo i {
	display: inline-block;
	width: 36px;
	height: 40px;
	background: url(../images/task07/icon-sprite.png) no-repeat -42px 0px;
	vertical-align: middle;
}
nav .left-logo span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	font-size: 21px;
	font-family: SimHei;
}
nav .right-option {
	margin-right: 50px;
}
nav .right-option ul li {
	display: inline-block;
	list-style: none;
	width: 67px;
	height: 58px;
	font-family: 'Micsoft YaHei';
	color: #787b83;
	text-align: center;
	cursor: pointer;
}
nav .right-option ul li:hover, nav .right-option ul li:first-child {		/* a元素的四个伪类 */
	border-bottom: #e74f4d solid 4px;
	color: #e74f4d;
}
nav .right-option ul li.login-in {
	color: #e74f4d;
}
nav .right-option ul li.login-in i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/task07/icon-sprite.png) no-repeat  -100px -48px; /* 利用background属性展示雪碧图 */
	vertical-align: middle;
}
.introduce img {
	width: 100%;
	height: 692px;
	display: block;
}
.introduce .intro-cover {
	width: 100%;
	height: 692px;
	background-color: rgba(4, 0, 0, 0.2);
	margin-top: -692px;
	padding-left: 124px;
}
.intro-cover span {
	display: block;
	font-family: 'Micsoft YaHei';
}
.intro-cover span:first-child {
	padding-top: 230px;
	font-size: 60px;
	color: #fff;
}
.intro-cover span:nth-child(2) {
	margin-top: 30px;
	color: #fffdfd;
	font-size: 21px;
}
.intro-cover button {
	margin-top: 66px;
	width: 330px;
	height: 65px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-family: 'Micsoft YaHei';
	background-color: #e7504d;
	border: none;
	outline: none;
	cursor: pointer;
}
.introduce .intro-items ul {
	width: 100%;
	height: 250px;
}
.intro-items ul li {
	width: 25%;
	float: left;
	list-style: none;
	text-align: center;
}
.intro-items ul li i {
	margin-top: 45px;
	margin-bottom: 48px;
	display: inline-block;
	width: 42px;
	height: 43px;
}
.intro-items ul li:first-child i {
	background: url(../images/task07/icon-sprite.png) no-repeat  -142px -46px;
}
.intro-items ul li:nth-child(2) i {
	background: url(../images/task07/icon-sprite.png) no-repeat  -142px -92px;
}
.intro-items ul li:nth-child(3) i {
	background: url(../images/task07/icon-sprite.png) no-repeat  -142px 0;
}
.intro-items ul li:last-child i {
	background: url(../images/task07/icon-sprite.png) no-repeat  0 0;
}
.intro-items ul li div {
	width: 100%;
	height: 54px;
	font-family: SimHei;
	color: #767777;
	border-right: #aaa solid 2px;
}
.intro-items ul li:last-child div {
	border: none;
}
.intro-items ul li div span {
	width: 154px;
	text-align: center;
	display: inline-block;
}
.activity .act-question {
	width: 100%;
	height: 360px;
	background-color: #ededed;
	text-align: center;
}
.activity .act-question i{
	width: 92px;
	height: 92px;
	display: inline-block;
	background: url(../images/task07/icon-sprite.png) no-repeat 0 -45px;
	margin-top: 88px;
}
.activity .act-question p {
	padding-top: 42px;
	font-size: 53px;
	font-family: SimHei;
	color: rgba(50, 51, 51, 0.5);
}
.activity .act-search {
	position: relative;
}
.activity .act-search img{
	width: 100%;
	height: 340px;
}
.act-search .search-cover {
	width: 100%;
	height: 340px;
	background-color: rgba(170, 53, 51, 0.2);
	position: absolute;
	top: 0;
}
.act-search .search-cover .cover-text {
	color: #fff;
	margin-top: 52px;
	text-align: center;
	font-family: 'Micsoft YaHei';
}
.search-cover .cover-text p:first-child {
	font-size: 21px;
}
.search-cover .cover-text p:first-child:after {
	content: '';
	display: block;
	width: 30px;
	height: 3px;
	background-color: #fff;
	margin: 12px auto;
}
.search-cover .cover-text p:last-child {
	font-size: 12px;
	opacity: 0.8;
	padding: 8px 0 52px;
}
.act-search .search-cover form {
	text-align: center;
}
.act-search .search-cover form div {
	display: inline-block;
	width: 236px;
	height: 36px;
	position: relative;
	margin: 0 13px;
	font-size: 12px;
}
.act-search .search-cover form div i {
	background: url(../images/task07/icon-sprite.png) no-repeat -78px 0;
	width: 19px;
	height: 20px;
	display: inline-block;
	position: absolute;
	right: 8.5px;
	top: 8.5px;
}
.act-search .search-cover form div select {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	padding-left: 12px;
	color: #a8aaaa;
	font-family: 'Micsoft YaHei';
}
.act-search .search-cover form div select:hover {
	border: #c27971 solid 1px;
}
.act-search .search-cover form div button {
	width: 100%;
	height: 100%;
	background-color: #bf4f49;
	color: #fff;
	border: none;
	outline: none;
	letter-spacing: 24px;
	padding-left: 12px;
	cursor: pointer;
}
.activity .act-list {
	width: 100%;
	height: 604px;
	padding: 100px 146px 114px 148px;
	background-color: #f7f7f7;
}
.act-list dl {
	width: 219px;
	height: 389px;
	float: left;
	margin: 0 18px;
}
.act-list dl:first-child {
	margin-left: 0;
}
.act-list dl:last-child {
	margin-right: 0;
}
.act-list dl dt {
	padding: 10px 7px;
	border: #e0e0e0 solid 1px;
	border-bottom: #f5f5f5 solid 1px;
	background-color: #fff;
}
.act-list dl dt img{
	display: block;
}
.act-list dl:nth-child(2) dt {
	border-right: #ebebeb solid 1px;
	border-left: #ebebeb solid 1px;
	border-bottom: #e0e0e0 solid 1px;
}
.act-list dl dd {
	text-align: center;
	color: #A8A9AA;
	font-size: 12px;
}
.act-list dl:nth-child(2) dd {
	margin-bottom: 8px;
}
.act-list dl dd span {
	display: block;
	margin: 10px 0;
	font-size: 14px;
	color: #000;
}
.act-list dl:nth-child(2) dd span {
	margin: -4px 0 6px;
	font-size: 24px;
	letter-spacing: 24px;
	text-align: justify;
	padding-left: 25px;
}
.other .other-time {
	width: 100%;
	height: 566px;
}
.other-time .time-img {
	width: 850px;
	float: left;
	position: relative;
}
.other-time .time-img img {
	display: block;
}
.other-time .time-img .cover-text {
	height: 566px;
	width: 850px;
	position: absolute;
	top: 0;
}
.other-time .time-text {
	width: 425px;
	float: left;
}
.other-time .time-text .time-des, .other-time .time-text .time-title {
	display: inline-block;
	width: 288px;
}